$primary: #20c997;
$secondary: #d9d9d9;
$success: #2f2e41;
$danger: #fd6584;
$warning: #dc3545;
$enable-negative-margins: true;

$accordion-button-active-bg: #ffffff00;
$accordion-button-active-color: #000000;
$accordion-button-focus-box-shadow: #ffffff00;

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* -------------------------------------------------------------------------- */
/* -------------------- animation for group card element -------------------- */
// great tool to make animation https://animista.net/
// TODO make sure that animation is smooth by removing the slide animation
// or by making it faster or putting the items in a container and animating the container
@keyframes shadow-drop {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

.scroller {
  scrollbar-color: #2f2e4159 #d9d9d9;
  scrollbar-width: thin;
}

.shadow-drop {
  animation: shadow-drop 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both,
    slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate-reverse both;
}
/* -------------------------------------------------------------------------- */
/* ------------------- grouping classes in group list page ------------------ */
// wtf i am doing : https://stackoverflow.com/questions/40892793/combine-multiple-bootstrap-classes-into-one-sass-class
.cell {
  @extend .col-md-12;
  @extend .col-6;
  @extend .px-0;
}

.group--card {
  @extend .bg-light;
  @extend .my-3;
  @extend .rounded-5;
  @extend .container;
  @extend .col-11;
  @extend .shadow-drop;
}

.card--header--dark {
  @extend .text-light;
  @extend .text-decoration-none;
  @extend .bg-success;
  @extend .rounded-5;
  @extend .col-md-5;
  @extend .px-4;
  @extend .pt-1;
  @extend .pb-3;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
}
.card--header--gray {
  @extend .text-dark;
  @extend .text-decoration-none;
  @extend .bg-secondary;
  @extend .rounded-5;
  @extend .col-md-5;
  @extend .px-4;
  @extend .pt-1;
  @extend .pb-3;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
}
.index--number {
  @extend .fs-6;
}
.group--name {
  @extend .mt-n3;
  @extend .display-6;
  @extend .text-center;
}
.card--body {
  @extend .col-md-7;
  @extend .py-2;
  @extend .px-sm-4;
  @extend .px-1;
}
.group--description {
  @extend .fw-semibold;
  @extend .small;
  @extend .d-flex;
  @extend .flex-md-row;
  @extend .flex-column;
}
.members--description {
  @extend .d-flex;
  @extend .w-50;
  @extend .pe-1;
}
.modified--description {
  @extend .d-flex;
  @extend .w-100;
}
.description {
  @extend .fw-light;
}
/* -------------------------------------------------------------------------- */
.rounded-start-4 {
  border-top-left-radius: $border-radius-xl;
  border-bottom-left-radius: $border-radius-xl;
}

@mixin text-overflow-x {
  @for $i from 1 through 4 {
    .text-overflow-#{$i} {
      display: -webkit-box;
      -webkit-line-clamp: $i;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
@include text-overflow-x;
/* -------------------------------------------------------------------------- */
/* ----------------- grouping classes in specific group page ---------------- */
.userOwesYou {
  @extend .d-flex;
  @extend .bg-light;
  @extend .fs-2;
  @extend .fw-bold;
  @extend .text-primary;
  @extend .flex-fill;
  @extend .rounded-start-4;
  @extend .align-items-center;
  @extend .ps-3;
}
.youOwesUser {
  @extend .d-flex;
  @extend .bg-light;
  @extend .fs-2;
  @extend .fw-bold;
  @extend .text-warning;
  @extend .flex-fill;
  @extend .rounded-start-4;
  @extend .align-items-center;
  @extend .ps-3;
}
.userOwesYou .caretRight {
  display: none;
}
.youOwesUser .caretLeft {
  display: none;
}

.group--user--card,
.group--admin--card {
  @extend .d-flex;
  @extend .shadow-drop;
  @extend .bg-secondary;
  @extend .mb-2;
}
.group--user--card > div:first-of-type > img:first-of-type {
  display: none;
}
