doctype html
html
  head 
    title natours #{title}
    link(rel='stylesheet' href='css/main.min.css')
    link(rel='shortcut icon' type='image/png' href='images/icons8-tax-96.png')
  
  body
    h1= title
    h1= user.toUpperCase()

    -const x=8;
    h2=2*x

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quis autem ipsa reprehenderit impedit esse adipisci omnis aliquid cumque quisquam harum animi, nihil ratione aperiam commodi quidem sit culpa iusto.